<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ost.mobilesdk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:allowBackup="false"
        android:fullBackupContent="@xml/backup_rules">
        <activity
            android:name=".biometric.FingerprintAuthenticationDialogActivity"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Dialog" />

        <service
            android:name=".workflows.services.OstUserPollingService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".workflows.services.OstDevicePollingService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".workflows.services.OstSessionPollingService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".workflows.services.OstTransactionPollingService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".workflows.services.OstRecoveryPollingService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>